.section3-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
  }
  
  .section3-container h1 {
    font-size: 60px;
    margin: 20px;
  }
  
  .section3-container .description {
    line-height: 30px;
    font-size: 20px;
  }
  
  .section3-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 40px;
  }
  
  .section3-details {
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .section3-details > * {
    margin-bottom: 10px; /* Adjust as needed to create vertical spacing */
  }
  
  .section3-details > :nth-child(2) {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  
  .section3-details > :nth-child(3) {
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    height: 80px;
  }